#custom-page-input {
    width: 40px;
    line-height: normal;
    text-align: center;
}

.reimbursement-table-buttons{
    margin-bottom: 0.5rem;
    .btn:hover{
        background-color: inherit;
        color: inherit;
    }
}

.hidden-row{
    padding: 0 !important;
    border: 0 !important;
}