#custom-page-input {
    width: 40px;
    line-height: normal;
    text-align: center;
}

.reimbursement-table-buttons{
    .btn:hover{
        background-color: inherit;
        color: inherit;
    }
}

.hidden-row{
    padding: 0 !important;
    border: 0 !important;
    max-width: 0px;
}

.reimbursement-table-row{
    td, th{
        vertical-align: middle !important;
    }
    span{
        cursor: pointer;
    }
}

.extra-reimbursement-details{
    cursor: pointer;
    .container{
        padding: 12px !important;
    }
    dd{
        word-wrap: break-word;
    }
    dl.row{
        margin-bottom: 0px;
    }
}

#input-description{
    min-width: 300px;
}

#type-col{
    padding-right: 1.3rem;
}

#status-col{
    padding-right: 1.2rem;
}

.stacked-buttons{
    flex-wrap: wrap;
}